@keyframes animEntete{
    from {
        opacity: 0%;
        transform : translateY(-100px);
    }
    to{
        opacity: 100%;
        transform : translateY(0px);
    }
}

.animEntete {
    animation : animEntete 1s; 
}