.livraison{
    height: calc(80px + 4vw);
    background-color:#FFE1E6;
    margin: 0 auto;
    overflow-x: hidden;
    z-index: -20;
}

#icon_truck{
    font-size: 7rem;
    z-index: 0;
    position: absolute;
    color:pink;
}